## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
# Number of unique values in each column
unique_counts = application_df.nunique()

# Print
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df['APPLICATION_TYPE'].value_counts()

# Print
application_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

#print
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_one = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

#print
greater_than_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with pd.get_dummies
cat_to_num_df = pd.get_dummies(application_df)

# print
cat_to_num_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [21]:
# Split our preprocessed data into our features and target arrays
X = cat_to_num_df.drop('IS_SUCCESSFUL', axis=1) 
y = cat_to_num_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

number_input_features = X_train.shape[1]

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, input_dim=number_input_features))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation("relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation("relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                3200

 batch_normalization (Batch  (None, 64)                256
 Normalization)

 activation (Activation)     (None, 64)                0

 dense_11 (Dense)            (None, 32)                2080

 batch_normalization_1 (Bat  (None, 32)                128
 chNormalization)

 activation_1 (Activation)   (None, 32)                0

 dense_12 (Dense)            (None, 1)                 33

=================================================================
Total params: 5697 (22.25 KB)
Trainable params: 5505 (21.50 KB)
Non-trainable params: 192 (768.00 Byte)
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
858/858 [==============================] - 1s 613us/step - loss: 3.9567 - accuracy: 0.0383
Epoch 2/75
858/858 [==============================] - 1s 650us/step - loss: 3.9057 - accuracy: 0.1259
Epoch 3/75
858/858 [==============================] - 1s 611us/step - loss: 3.9034 - accuracy: 0.1363
Epoch 4/75
858/858 [==============================] - 1s 611us/step - loss: 3.9017 - accuracy: 0.1068
Epoch 5/75
858/858 [==============================] - 1s 609us/step - loss: 3.9017 - accuracy: 0.0242
Epoch 6/75
858/858 [==============================] - 1s 610us/step - loss: 3.9015 - accuracy: 4.0089e-04
Epoch 7/75
858/858 [==============================] - 1s 592us/step - loss: 3.9001 - accuracy: 0.0035
Epoch 8/75
858/858 [==============================] - 1s 599us/step - loss: 3.7597 - accuracy: 0.0000e+00
Epoch 9/75
858/858 [==============================] - 1s 615us/step - loss: 3.7203 - accuracy: 0.0000e+00
Epoch 10/75
858/858 [==============================] - 1s 600us/step - loss: 3.7209 - accuracy: 0.0000e+00
Epoch 11/75
858/858 [==============================] - 1s 611us/step - loss: 3.7197 - accuracy: 0.0000e+00
Epoch 12/75
858/858 [==============================] - 1s 612us/step - loss: 3.7197 - accuracy: 0.0000e+00
Epoch 13/75
858/858 [==============================] - 1s 611us/step - loss: 3.7188 - accuracy: 0.0000e+00
Epoch 14/75
858/858 [==============================] - 1s 615us/step - loss: 3.7193 - accuracy: 0.0000e+00
Epoch 15/75
858/858 [==============================] - 1s 614us/step - loss: 3.7186 - accuracy: 0.0000e+00
Epoch 16/75
858/858 [==============================] - 1s 612us/step - loss: 3.7185 - accuracy: 0.0000e+00
Epoch 17/75
858/858 [==============================] - 1s 612us/step - loss: 3.7181 - accuracy: 7.2889e-04
Epoch 18/75
858/858 [==============================] - 1s 612us/step - loss: 3.7191 - accuracy: 0.0028
Epoch 19/75
858/858 [==============================] - 1s 613us/step - loss: 3.6881 - accuracy: 0.0178
Epoch 20/75
858/858 [==============================] - 1s 614us/step - loss: 3.6586 - accuracy: 0.0066
Epoch 21/75
858/858 [==============================] - 1s 612us/step - loss: 3.6584 - accuracy: 0.0099
Epoch 22/75
858/858 [==============================] - 1s 601us/step - loss: 3.6581 - accuracy: 0.0121
Epoch 23/75
858/858 [==============================] - 1s 599us/step - loss: 3.6575 - accuracy: 0.0158
Epoch 24/75
858/858 [==============================] - 1s 602us/step - loss: 3.6575 - accuracy: 0.0083
Epoch 25/75
858/858 [==============================] - 1s 601us/step - loss: 3.6575 - accuracy: 0.0101
Epoch 26/75
858/858 [==============================] - 1s 630us/step - loss: 3.6573 - accuracy: 0.0077
Epoch 27/75
858/858 [==============================] - 1s 612us/step - loss: 3.6572 - accuracy: 0.0067
Epoch 28/75
858/858 [==============================] - 1s 614us/step - loss: 3.6564 - accuracy: 0.0094
Epoch 29/75
858/858 [==============================] - 1s 612us/step - loss: 3.6565 - accuracy: 0.0424
Epoch 30/75
858/858 [==============================] - 1s 612us/step - loss: 3.6574 - accuracy: 0.0232
Epoch 31/75
858/858 [==============================] - 1s 612us/step - loss: 3.6567 - accuracy: 0.0118
Epoch 32/75
858/858 [==============================] - 1s 612us/step - loss: 3.6567 - accuracy: 0.0084
Epoch 33/75
858/858 [==============================] - 1s 613us/step - loss: 3.6566 - accuracy: 0.0137
Epoch 34/75
858/858 [==============================] - 1s 613us/step - loss: 3.6562 - accuracy: 0.0045
Epoch 35/75
858/858 [==============================] - 1s 611us/step - loss: 3.6565 - accuracy: 0.0046
Epoch 36/75
858/858 [==============================] - 1s 612us/step - loss: 3.6561 - accuracy: 8.0178e-04
Epoch 37/75
858/858 [==============================] - 1s 630us/step - loss: 3.6566 - accuracy: 4.0089e-04
Epoch 38/75
858/858 [==============================] - 1s 664us/step - loss: 3.6559 - accuracy: 0.0056
Epoch 39/75
858/858 [==============================] - 1s 627us/step - loss: 3.6561 - accuracy: 0.0036
Epoch 40/75
858/858 [==============================] - 1s 612us/step - loss: 3.6562 - accuracy: 0.0059
Epoch 41/75
858/858 [==============================] - 1s 613us/step - loss: 3.6556 - accuracy: 0.0109
Epoch 42/75
858/858 [==============================] - 1s 616us/step - loss: 3.6558 - accuracy: 0.0082
Epoch 43/75
858/858 [==============================] - 1s 614us/step - loss: 3.6558 - accuracy: 0.0048
Epoch 44/75
858/858 [==============================] - 1s 613us/step - loss: 3.6559 - accuracy: 7.2889e-05
Epoch 45/75
858/858 [==============================] - 1s 662us/step - loss: 3.6556 - accuracy: 0.0000e+00
Epoch 46/75
858/858 [==============================] - 1s 616us/step - loss: 3.6008 - accuracy: 0.0000e+00
Epoch 47/75
858/858 [==============================] - 1s 623us/step - loss: 3.5964 - accuracy: 0.0000e+00
Epoch 48/75
858/858 [==============================] - 1s 627us/step - loss: 3.5960 - accuracy: 0.0000e+00
Epoch 49/75
858/858 [==============================] - 1s 613us/step - loss: 3.5959 - accuracy: 0.0000e+00
Epoch 50/75
858/858 [==============================] - 1s 615us/step - loss: 3.4695 - accuracy: 0.0000e+00
Epoch 51/75
858/858 [==============================] - 1s 612us/step - loss: 3.4160 - accuracy: 3.6444e-05
Epoch 52/75
858/858 [==============================] - 1s 616us/step - loss: 3.4158 - accuracy: 1.0933e-04
Epoch 53/75
858/858 [==============================] - 1s 613us/step - loss: 3.4158 - accuracy: 3.6444e-05
Epoch 54/75
858/858 [==============================] - 1s 613us/step - loss: 3.4161 - accuracy: 0.0000e+00
Epoch 55/75
858/858 [==============================] - 1s 616us/step - loss: 3.4156 - accuracy: 0.0000e+00
Epoch 56/75
858/858 [==============================] - 1s 615us/step - loss: 3.4157 - accuracy: 0.0000e+00
Epoch 57/75
858/858 [==============================] - 1s 615us/step - loss: 3.4156 - accuracy: 0.0000e+00
Epoch 58/75
858/858 [==============================] - 1s 615us/step - loss: 3.4153 - accuracy: 0.0000e+00
Epoch 59/75
858/858 [==============================] - 1s 614us/step - loss: 3.4155 - accuracy: 0.0000e+00
Epoch 60/75
858/858 [==============================] - 1s 613us/step - loss: 3.4149 - accuracy: 0.0000e+00
Epoch 61/75
858/858 [==============================] - 1s 615us/step - loss: 3.4150 - accuracy: 0.0035
Epoch 62/75
858/858 [==============================] - 1s 612us/step - loss: 3.4153 - accuracy: 0.0067
Epoch 63/75
858/858 [==============================] - 1s 613us/step - loss: 3.4145 - accuracy: 0.0146
Epoch 64/75
858/858 [==============================] - 1s 615us/step - loss: 3.4152 - accuracy: 0.0092
Epoch 65/75
858/858 [==============================] - 1s 616us/step - loss: 3.4145 - accuracy: 0.0240
Epoch 66/75
858/858 [==============================] - 1s 616us/step - loss: 3.4147 - accuracy: 0.0313
Epoch 67/75
858/858 [==============================] - 1s 598us/step - loss: 3.4148 - accuracy: 0.0456
Epoch 68/75
858/858 [==============================] - 1s 629us/step - loss: 3.4148 - accuracy: 0.0162
Epoch 69/75
858/858 [==============================] - 1s 614us/step - loss: 3.4144 - accuracy: 2.1867e-04
Epoch 70/75
858/858 [==============================] - 1s 616us/step - loss: 3.4148 - accuracy: 7.2889e-04
Epoch 71/75
858/858 [==============================] - 1s 614us/step - loss: 3.4150 - accuracy: 3.6444e-05
Epoch 72/75
858/858 [==============================] - 1s 615us/step - loss: 3.4146 - accuracy: 0.0000e+00
Epoch 73/75
858/858 [==============================] - 1s 615us/step - loss: 3.4139 - accuracy: 3.6444e-05
Epoch 74/75
858/858 [==============================] - 1s 613us/step - loss: 3.4146 - accuracy: 2.9156e-04
Epoch 75/75
858/858 [==============================] - 1s 614us/step - loss: 3.4148 - accuracy: 0.0020

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 3.4353 - accuracy: 0.0000e+00 - 115ms/epoch - 533us/step
Loss: 3.43532133102417, Accuracy: 0.0

In [38]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity.h5.3')